colorama
APScheduler
black
click
datasets
gradio==4.26.0
gradio_client
huggingface-hub
matplotlib
numpy
pandas
plotly
python-dateutil
requests
semantic-version
tqdm
wandb
transformers
tokenizers>=0.15.0
lm_eval[ifeval] @ git+https://github.com/EleutherAI/lm-evaluation-harness.git@v0.4.2
accelerate
sentencepiece
langdetect
sacrebleu
cchardet
rouge_score
bert-score
evaluate
spacy==3.7.4
selfcheckgpt
immutabledict
gputil
bitsandbytes
openai
scikit-learn
vllm
ray[all]
autoawq
seaborn